
.active {
    font-weight: bold;
}

.resumeBtn {
    text-align: center;
    text-decoration: none;
    border: 0.1em solid #8e4162;
    background: #8E4162;
    color: white;
    font-size: 0.9em;
    padding: 1.5vh;
    border-radius: 1em;
    transition: border-radius 0.3s ease-out, box-shadow 0.3s ease-out;
}

.resumeBtn:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.8em;
}

.sendBtn {
    text-align: center;
    text-decoration: none;
    border: 0.1em solid #8e4162;
    background: #8E4162;
    color: white;
    font-size: 0.9em;
    padding: 1vh;
    border-radius: 1em;
    transition: border-radius 0.3s ease-out, box-shadow 0.3s ease-out;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

.sendBtn:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.8em;
    background: #8E4162C1;
    border: 0.1em solid rgba(142, 65, 98, 0);
}

.captcha {
  transform: scale(0.79);
}

@media only screen and (max-width: 767px) {
    p {
        font-size: 0.6em;
    }
    h3{
        font-size: 0.9em;
    }

}
